KRREjb/ejbModule/resources/wsdl/SDPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SDPService" targetNamespace="urn:si.sdp.service" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:si.sdp.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="urn:si.sdp.service" version="1.0" xmlns:ns1="http://begrep.difi.no" xmlns:tns="urn:si.sdp.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://begrep.difi.no" />
<xs:element name="getKvitteringer" type="tns:getKvitteringer" />
<xs:element name="getKvitteringerResponse" type="tns:getKvitteringerResponse" />
<xs:element name="getPerson" type="tns:getPerson" />
<xs:element name="getPersonResponse" type="tns:getPersonResponse" />
<xs:element name="getPersoner" type="tns:getPersoner" />
<xs:element name="getPersonerResponse" type="tns:getPersonerResponse" />
<xs:element name="sendBrev" type="tns:sendBrev" />
<xs:element name="sendBrevResponse" type="tns:sendBrevResponse" />
<xs:element name="sjekkPerson" type="tns:sjekkPerson" />
<xs:element name="sjekkPersonResponse" type="tns:sjekkPersonResponse" />
<xs:element name="sjekkPersoner" type="tns:sjekkPersoner" />
<xs:element name="sjekkPersonerResponse" type="tns:sjekkPersonerResponse" />
<xs:complexType name="sendBrev">
<xs:sequence>
<xs:element minOccurs="0" name="fonr" type="xs:string" />
<xs:element minOccurs="0" name="brev" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendBrevResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="sjekkPersoner">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fonr" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sjekkPersonerResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:sjekkpersonbean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sjekkpersonbean">
<xs:sequence />
<xs:attribute name="personidentifikator" type="xs:string" use="required" />
<xs:attribute name="status" type="xs:boolean" use="required" />
</xs:complexType>
<xs:complexType name="getKvitteringer">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getKvitteringerResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:anyType" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPerson">
<xs:sequence>
<xs:element minOccurs="0" name="fonr" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPersonResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:Person" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPersoner">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fonr" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPersonerResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:Person" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sjekkPerson">
<xs:sequence>
<xs:element minOccurs="0" name="fonr" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sjekkPersonResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema elementFormDefault="qualified" targetNamespace="http://begrep.difi.no" version="1.0" xmlns:tns="http://begrep.difi.no" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Person" type="tns:Person" />
<xs:complexType name="Person">
<xs:sequence>
<xs:element name="personidentifikator" type="xs:string" />
<xs:element minOccurs="0" name="reservasjon" type="tns:reservasjon" />
<xs:element minOccurs="0" name="status" type="tns:status" />
<xs:element minOccurs="0" name="beskrivelse" type="xs:string" />
<xs:element minOccurs="0" name="Kontaktinformasjon" type="tns:Kontaktinformasjon" />
<xs:element minOccurs="0" name="SikkerDigitalPostAdresse" type="tns:SikkerDigitalPostAdresse" />
<xs:element minOccurs="0" name="X509Sertifikat" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Kontaktinformasjon">
<xs:sequence>
<xs:element minOccurs="0" name="Mobiltelefonnummer" type="tns:Mobiltelefonnummer" />
<xs:element minOccurs="0" name="Epostadresse" type="tns:Epostadresse" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Mobiltelefonnummer">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="sistOppdatert" type="xs:dateTime" />
<xs:attribute name="sistVerifisert" type="xs:dateTime" />
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Epostadresse">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="sistOppdatert" type="xs:dateTime" />
<xs:attribute name="sistVerifisert" type="xs:dateTime" />
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SikkerDigitalPostAdresse">
<xs:sequence>
<xs:element name="postkasseadresse" type="xs:string" />
<xs:element name="postkasseleverandoerAdresse" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:simpleType name="reservasjon">
<xs:restriction base="xs:string">
<xs:enumeration value="JA" />
<xs:enumeration value="NEI" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="status">
<xs:restriction base="xs:string">
<xs:enumeration value="AKTIV" />
<xs:enumeration value="SLETTET" />
<xs:enumeration value="IKKE_REGISTRERT" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sjekkPersonerResponse">
    <wsdl:part element="tns:sjekkPersonerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sjekkPersoner">
    <wsdl:part element="tns:sjekkPersoner" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sjekkPersonResponse">
    <wsdl:part element="tns:sjekkPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBrevResponse">
    <wsdl:part element="tns:sendBrevResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sjekkPerson">
    <wsdl:part element="tns:sjekkPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersoner">
    <wsdl:part element="tns:getPersoner" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonResponse">
    <wsdl:part element="tns:getPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part element="tns:getPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKvitteringerResponse">
    <wsdl:part element="tns:getKvitteringerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonerResponse">
    <wsdl:part element="tns:getPersonerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKvitteringer">
    <wsdl:part element="tns:getKvitteringer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBrev">
    <wsdl:part element="tns:sendBrev" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SDPService">
    <wsdl:operation name="sendBrev">
      <wsdl:input message="tns:sendBrev" name="sendBrev">
    </wsdl:input>
      <wsdl:output message="tns:sendBrevResponse" name="sendBrevResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjekkPersoner">
      <wsdl:input message="tns:sjekkPersoner" name="sjekkPersoner">
    </wsdl:input>
      <wsdl:output message="tns:sjekkPersonerResponse" name="sjekkPersonerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKvitteringer">
      <wsdl:input message="tns:getKvitteringer" name="getKvitteringer">
    </wsdl:input>
      <wsdl:output message="tns:getKvitteringerResponse" name="getKvitteringerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPerson" name="getPerson">
    </wsdl:input>
      <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersoner">
      <wsdl:input message="tns:getPersoner" name="getPersoner">
    </wsdl:input>
      <wsdl:output message="tns:getPersonerResponse" name="getPersonerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjekkPerson">
      <wsdl:input message="tns:sjekkPerson" name="sjekkPerson">
    </wsdl:input>
      <wsdl:output message="tns:sjekkPersonResponse" name="sjekkPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDPServiceSoapBinding" type="tns:SDPService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendBrev">
      <soap:operation soapAction="sendBrev" style="document" />
      <wsdl:input name="sendBrev">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendBrevResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjekkPersoner">
      <soap:operation soapAction="sjekkPersoner" style="document" />
      <wsdl:input name="sjekkPersoner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sjekkPersonerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKvitteringer">
      <soap:operation soapAction="getKvitteringer" style="document" />
      <wsdl:input name="getKvitteringer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getKvitteringerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="getPerson" style="document" />
      <wsdl:input name="getPerson">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersoner">
      <soap:operation soapAction="getPersoner" style="document" />
      <wsdl:input name="getPersoner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPersonerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjekkPerson">
      <soap:operation soapAction="sjekkPerson" style="document" />
      <wsdl:input name="sjekkPerson">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sjekkPersonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDPService">
    <wsdl:port binding="tns:SDPServiceSoapBinding" name="SDPServicePort">
      <soap:address location="http://sdp-app01-test.sismo.local:8080/SDP/SDPService/SDPService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>